In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
school_data_to_load="Resources/schools_complete.csv"
student_data_to_load="Resources/students_complete.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame
school_data_df=pd.read_csv(school_data_to_load)
#school_data_df

In [4]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df=pd.read_csv(student_data_to_load)
#student_data_df.head()

In [5]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Determine using isnull of there are any missing values in the school data.
#school_data_df.isnull()

In [8]:
# Determine using isnull if there are any missing values in the student data.
student_data_df.isnull()

# Determine if there are any missing values in the student data with isnull and sum.
# joining two functions together with a period is called chaining.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [9]:
# Determine using notnull if there are not any missing values in the school data.
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [10]:
# Determine by chaning notnull and sum if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [12]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [13]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [14]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-14-d1e003a410f5>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [15]:
# student_data_df.head(10)

In [16]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
# school_data_complete_df.head()

In [17]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [18]:
# Calculate the total number of schools
# Create an array with all the unique school names
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

# Get the length of the array (total number of schools)
school_count=len(school_count_2)

In [19]:
# Calculate the total budget - use school data df instead of the new df (school_data_complete_df)
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [20]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [21]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [22]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#passing_math.head()

# Get NUMBER of students who passed math
passing_math_count=passing_math["student_name"].count()

In [23]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
#passing_reading.head()

# Get NUMBER of students who passed reading
passing_reading_count=passing_reading["student_name"].count()

In [24]:
print(f"The number of students who passed math: {passing_math_count}")

The number of students who passed math: 29370

In [25]:
print(f"The number of students who passed reading: {passing_reading_count}")

The number of students who passed reading: 33610

In [26]:
student_count

39170

In [27]:
# Calculate the percent that passed math.
passing_math_percentage = (passing_math_count / float(student_count) * 100)

# Calculate the percent that passed reading.
passing_reading_percentage = (passing_reading_count / float(student_count) * 100)

In [28]:
print(f"The number of students who passed math: {passing_math_count}")

print(f"The number of students who passed reading: {passing_reading_count}")

print(f"The percentage of students who passed math: {passing_math_percentage:.2f}%.")

print(f"The percentage of students who passed reading: {passing_reading_percentage:.2f}%.")

The number of students who passed math: 29370
The number of students who passed reading: 33610
The percentage of students who passed math: 74.98%.
The percentage of students who passed reading: 85.81%.

In [29]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.student_name.count()

25528

In [30]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [31]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [32]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
# district_summary_df

In [33]:
passing_math_count = 29370
total_student_count = 39170

In [34]:
# Define a function that calculates the percentage of students 
# that passed both math and reading and prints the passing 
# percentage to the output when the function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [35]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [36]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [37]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [38]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

In [39]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [40]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
# per_school_types

In [41]:
# Add the per_school_types into a DataFrame for testing.

df=pd.DataFrame(per_school_types)
# df

In [42]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
# per_school_counts

In [43]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
# per_school_budget

In [44]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
# per_school_capita

In [45]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
# per_school_averages

In [46]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

In [47]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [48]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
    # 70% or better
 # 2. Get the number of students who passed math and reading.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

 # 3. Get the students who passed math and passed reading

In [49]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [50]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [51]:
# per_school_passing_math.head()

In [52]:
# per_school_passing_reading.head()

In [53]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [54]:
per_passing_math_reading=per_passing_math_reading.groupby(["school_name"])

In [55]:
per_passing_math_reading=per_passing_math_reading.count()["student_name"]

In [56]:
# per_passing_math_reading.head()

In [57]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = (per_passing_math_reading / per_school_counts * 100)

# per_overall_passing_percentage.head()

In [58]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
# per_school_summary_df.head()

In [59]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:,.1f}".format)

per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:,.1f}".format)

per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:,.0f}%".format)

per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:,.0f}%".format)

per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:,.0f}%".format)
                                                                                      
# Display the data frame
per_school_summary_df.index.name = None
# per_school_summary_df

In [60]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.index.name = None
#top_schools.head()

In [61]:
# Sort and show bottom five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.index.name = None
# bottom_schools.head()

In [62]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [63]:
# Group each grade level DataFrame by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [64]:
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [65]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

# math_scores_by_grade.head()

In [66]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

# reading_scores_by_grade.head()

In [67]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
# math_scores_by_grade

In [68]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
# reading_scores_by_grade

In [69]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [70]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [71]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [72]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

#per_school_summary_df

In [73]:
# Reorder the columns
new_column_order=["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Spending Ranges (Per Student)", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

#Assign per school summary the new column order
per_school_summary_df = per_school_summary_df[new_column_order]
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Spending Ranges (Per Student),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,$585-629,77.0,81.0,67%,82%,55%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,<$584,83.1,84.0,94%,97%,91%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,$630-644,76.7,81.2,66%,81%,53%
Ford High School,District,2739,"$1,763,916.00",$644.00,$630-644,77.1,80.7,68%,79%,54%
Griffin High School,Charter,1468,"$917,500.00",$625.00,$585-629,83.4,83.8,93%,97%,91%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,$645-675,77.3,80.9,67%,81%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,<$584,83.8,83.8,93%,96%,89%
Huang High School,District,2917,"$1,910,635.00",$655.00,$645-675,76.6,81.2,66%,81%,54%
Johnson High School,District,4761,"$3,094,650.00",$650.00,$645-675,77.1,81.0,66%,81%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,$585-629,83.8,84.0,95%,96%,91%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,$630-644,76.8,80.7,66%,80%,53%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,$585-629,83.4,83.7,94%,96%,90%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,$630-644,83.4,83.8,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,<$584,83.3,84.0,94%,97%,91%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,<$584,83.7,84.0,93%,97%,90%

In [74]:
per_school_summary_df.keys()

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Spending Ranges (Per Student)',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [75]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

KeyError: 'Average Math Score'